* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.video-fundo {
  position: fixed;
  top: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
}

video {
  position: fixed;
  top: 0;
  min-height: 100%;
  min-width: 100%;
}

.mascara-video {
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  background: linear-gradient(
    109deg,
    rgba(23, 23, 23, 1) 0%,
    rgba(33, 33, 33, 1) 12%,
    rgba(236, 232, 232, 0) 48%,
    rgba(5, 5, 5, 0.5234899328859061) 73%,
    rgba(33, 33, 33, 1) 88%
  );
}

.bloco-one {
  width: 40%;
}
.image-mario {
  width: 800px;
}

.image-logo {
  width: 600px;
  margin-bottom: 20px;
}
p {
  color: white;
  font-size: 28px;
  font-family: 'Roboto', sans-serif;
}
button {
  cursor: pointer;
  height: 80px;
  width: 300px;
  margin-top: 20px;
  font-size: 28px;
  background: #c51111;
  color: white;
  border: none;
  border-radius: 4px;
}

.fale-conosco {
  position: fixed;
  left: -450px;
  background: white;
  display: flex;
  flex-direction: column;
  padding: 30px;
  border-radius: 10px;
  gap: 20px;
  transition: left 1s linear;
  z-index: 4;
}

input {
  height: 80px;
  border-radius: 5px;
  padding: 5px;
  border: 1px solid gray;
  outline-color: chartreuse;
}

textarea {
  width: 400px;
  padding: 5px;
  height: 90px;
  outline-color: chartreuse;
}
.mascara-form {
  visibility: hidden;
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  background: linear-gradient(
    109deg,
    rgba(10, 12, 16, 0.99) 15%,
    rgba(10, 12, 16, 0.7) 50%,
    rgba(10, 12, 16, 0.99) 85%
  );
  z-index: 3;
}
@media (max-width: 1500px) {
  .fale-conosco {
    left: -600px;
  }
  body {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
  }
  .image-logo {
    margin-top: 300px;
  }
}
@media (max-width: 1200px) {
  .fale-conosco {
    left: -600px;
  }
}

@media (max-width: 900px) {
  body {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
  }
  p {
    color: white;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
  }
  .image-logo {
    width: 200px;
    margin-top: 300px;
    margin-left: 50px;
  }
  .image-mario {
    width: 380px;
    margin-top: 35px;
  }
  button {
    margin-left: 50px;
  }
  .fale-conosco {
    position: fixed;
    left: -800px;
    background: white;
    display: flex;
    flex-direction: column;
    padding: 25px;
    border-radius: 10px;
    gap: 20px;
    transition: left 1s linear;
    z-index: 4;
  }
}
@media (max-width: 1200px) {
  body {
    display: flex;
    flex-direction: column;
  }
  .image-mario {
    width: 550px;
  }
}
